#container {
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px solid black;
    font-size: 100px;
    box-sizing: border-box;
}

#container > div {
    background-color: gold;
    border: 5px solid black;
    text-align: center;
    height: 9.8rem;
    width: 9.8rem;
    box-sizing: border-box;
    padding-top: 0.8rem;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    width: 27rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

#playeronename, #playertwoname {
    text-decoration: underline;
}

#playeronescore, #playertwoscore {
    position: relative;
    bottom: 1.9rem;
    left: 2rem;
}

body {
    display: flex;
}
