#container {
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px solid black;
}

#container > div {
    background-color: gold;
    border: 5px solid black;
}