#container {
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px solid black;
    font-size: 100px;
    box-sizing: border-box;
}

#container > div {
    background-color: gold;
    border: 5px solid black;
    text-align: center;
    height: 9.8rem;
    width: 9.8rem;
    box-sizing: border-box;
    padding-top: 0.8rem;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    width: 27rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

#playerone, #playertwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playeronename, #playertwoname {
    text-decoration: underline;
}

h1 {
    margin-bottom: -0.2rem;
    margin-top: -0.5rem;
    position: relative;
    left: 9.9rem;
}

#playeronescore, #playertwoscore {
    position: relative;
    bottom: 1.9rem;
    left: 1.2rem;
}

#gameinfo {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
    overflow: hidden;
    height: 7rem;
    position: relative;
    top: 1.6rem;
}

#turntracker {
    position: relative;
    bottom: 1rem;
    display: hidden;
}

#playeronename {
    color: red;
}

#playertwoname {
    color: blue;
}

#turnname {
    color: red;
}

#startgame {
    height: 2rem;
    width: 4rem;
    border-radius: 6px;
    font-size: 1.2rem;
    background-color: rgb(0, 211, 0);
}

body {
    display: flex;
    overflow: hidden;
}
