#container {
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px solid black;
    font-size: 100px;
    box-sizing: border-box;
}

#container > div {
    background-color: gold;
    border: 5px solid black;
    text-align: center;
    height: 9.8rem;
    width: 9.8rem;
    box-sizing: border-box;
    padding-top: 0.8rem;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    width: 27rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

#playerone, #playertwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playeronename, #playertwoname {
    text-decoration: underline;
}

h1 {
    margin-bottom: -0.2rem;
    margin-top: -0.5rem;
    position: relative;
    left: 9.9rem;
}

#playeronescore, #playertwoscore {
    position: relative;
    bottom: 1.9rem;
    left: 1.8rem;
}

#gameinfo {
    width: 20rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
    padding-top: 1.4rem;
    padding-left: 0.2rem;
}

body {
    display: flex;
    overflow: hidden;
}
